<%= form_for(@user_provider) do |f| %>
  <% if @user_provider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_provider.errors.count, "error") %> prohibited this user_provider from being saved:</h2>

      <ul>
      <% @user_provider.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :mobile_number %><br />
    <%= f.text_field :mobile_number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
