<p id="notice"><%= notice %></p>

<p>
  <b>Message:</b>
  <%= @user_coupon.message %>
</p>

<p>
  <b>Message:</b>
  <%= @user_coupon.message_id %>
</p>

<p>
  <b>Message status:</b>
  <%= @user_coupon.message_status %>
</p>

<p>
  <b>Error text:</b>
  <%= @user_coupon.error_text %>
</p>

<p>
  <b>User:</b>
  <%= @user_coupon.user %>
</p>

<p>
  <b>Coupon:</b>
  <%= @user_coupon.coupon %>
</p>


<%= link_to 'Edit', edit_user_coupon_path(@user_coupon) %> |
<%= link_to 'Back', user_coupons_path %>
