<% title t("general.show_detail") %>

<p>
  <strong>Message:</strong>
  <%= @o_single.message %>
</p>

<p>
  <strong>Message ID:</strong>
  <%= @o_single.message_id %>
</p>

<p>
  <strong>Error Message:</strong>
  <%= @o_single.error_text %>
</p>

<p>
<div class="btn">  <%= link_to t("general.destroy"), @o_single, :confirm => t('general.are_you_sure_to_delete'), :method => :delete %></div>
<div class="btn">  <%= link_to t("general.view_all"), user_coupons_path %></div>
</p>
<div class="cl"></div>
