					<div class="row-fluid">
						<div class="span8">
							<div class="row-fluid hero-unit cmsbanner mHeight">
    	    					<h3><%= image_tag "cupon-logo.jpg", :width => 100, :height => 70 %> How it Works? </h3>
									
									<h4>It's Easy! It's Quick! It's Free!..... <span><a id="moreLink" class="contentLink" title="More"><%= image_tag "expand.png" %> </a></span></h4>
	        				
									<p id="fullContent" style="display:none;">
										1. Register at <b>www.couponmandi.com</b><br />
										2. Click  View Coupon Button to see the Coupon Details.<br />
										3. Click  Get Coupon Button to get the Coupon by SMS.<br />
										   The SMS you receive is the Coupon. Please show this SMS to get a Discount.<br />
										   It's Easy! It's Quick! It's Free! &nbsp;&nbsp;<%= link_to "Not a member yet? Sign up", new_front_path%>&nbsp;&nbsp;

										<span>&nbsp;<a id="lessLink" class="contentLink" title="Less"><%= image_tag "Collapse.png" %></a></span>
									</p>
                                    
				    	  	</div>
						</div>

						<div class="span4" id="newsList">
							<div class="row-fluid">
								<div class="newsEventBox hero-unit" style="margin-right:0;">
									<h2>
										<div class="row-fluid">
											<div class="span12">SIGN IN</div>
										</div>
									</h2>
										<div class="errormsg">
											<% if flash[:error_login] %>
												<div id="notice"><%= flash[:error_login] %></div>
											<% end %>

                                          </div>


											<%= form_for(@user_session, :url => fronts_signin_path) do |f| %>
											  <% if @user_session.errors.any? %>
												<div id="error_explanation">
												  <ul>
												  <% @user_session.errors.full_messages.each do |msg| %>
													<li><%= msg %></li>
												  <% end %>
												  </ul>
												</div>
											  <% end %>

											  <div class="field">
												<%= f.label :username %>
												<%= f.text_field :username %>
											  </div>
											  <div class="field">
												<%= f.label :password %>
												<%= f.password_field :password %>
											  </div>
                                              <div class="rembox"><input type="checkbox" name="checkbox" id="checkbox" />Rember Me
                                              <span><%= link_to "Forgot password?", forgot_password_path %></span>
                                              </div>
											  <div class="actions">
												<%= f.submit :Login %>
                                                <div class="fblogin">
                                                <%= link_to image_tag("facebook-share.png"), "/auth/facebook" %>

                                                </div>
											  </div>
                                              <!--<div class="morebtn">
                                              	<div class="whitebtn"><a href="#">How it works?</a></div>
                                                <div class="whitebtn"><%= link_to "Sign Up", new_front_path%></div>
                                              <div class="cl"></div>
                                              </div>-->
											<% end %>

								</div>
							</div>
						</div>
					</div>
					<div class="clearb"></div>
