					<div class="row-fluid">
						<div class="span8">
							<div class="row-fluid hero-unit cmsbanner mHeight">
    	    					<h1>Couponmandi</h1>
									<p class="defaultContent">
									Couponmandi text
	        						<span><a id="moreLink" class="contentLink" title="Näytä lisää"><%= image_tag "expand.png" %></a></span>
									</p>
									<p id="fullContent" style="display:none;">
										Couponmandi text more details.....
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at diam dolor, eget lobortis felis. Praesent in mauris nunc. Quisque congue fermentum eros, id vulputate sem pulvinar ac. Donec dignissim felis et neque volutpat at aliquet elit accumsan.<br />
<br />
 Vestibulum at diam at quam facilisis congue quis ac lectus. Vestibulum nec consequat arcu. Nunc ipsum turpis, elementum id mattis vitae, malesuada vel eros. Morbi id imperdiet justo. 
										<span>&nbsp;<a id="lessLink" class="contentLink" title="Näytä vähemmän"><%= image_tag "Collapse.png" %></a></span>
									</p>
                                    
				    	  	</div>
						</div>

						<div class="span4" id="newsList">
							<div class="row-fluid">
								<div class="newsEventBox hero-unit" style="margin-right:0;">
									<h2>
										<div class="row-fluid">
											<div class="span12">SIGN IN</div>
										</div>
									</h2>
										  <% flash.each do |name, msg| %>
											<%= content_tag :div, msg, :id => "flash_#{name}" %>
										  <% end %>

											<%= form_for(@user_session, :url => fronts_signin_path) do |f| %>
											  <% if @user_session.errors.any? %>
												<div id="error_explanation">
												  <ul>
												  <% @user_session.errors.full_messages.each do |msg| %>
													<li><%= msg %></li>
												  <% end %>
												  </ul>
												</div>
											  <% end %>

											  <div class="field">
												<%= f.label :username %>
												<%= f.text_field :username %>
											  </div>
											  <div class="field">
												<%= f.label :password %>
												<%= f.password_field :password %>
											  </div>
                                              <div class="rembox"><input type="checkbox" name="checkbox" id="checkbox" />Rember Me
                                              <span><a href="">Forgot password? </a></span>
                                              </div>
											  <div class="actions">
												<%= f.submit :Login %>
                                                <div class="fblogin">
                                                <%= image_tag "facebook-share.png" %>
                                                </div>
											  </div>
                                              <div class="morebtn">
                                              	<div class="whitebtn"><a href="#">How it works?</a></div>
                                                <div class="whitebtn"><a href="#">Sign Up</a></div>
                                              <div class="cl"></div>
                                              </div>
											<% end %>

								</div>
							</div>
						</div>
					</div>
					<div class="clearb"></div>
