<div class="main-containt ">
<div class="changepswrd">
<h3>Reset Password</h3>
<%= form_for(@user, :url => forgot_password_path) do |f| %>
<div class="errormsg">
  <% flash.each do |name, msg| %>
	<%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>
</div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="actions">
    <%= f.submit :Save %>
	<%#= link_to t("general.back"), fronts_path %>
  </div>
<div class="cl"></div>
<% end %>
</div>
</div>
