<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table class="pretty" width="100%">
  <tr>
    <th><%= "MearchantName" %></th>
    <th><%= "contact" %></th>
    <th><%= "city" %></th>
	<th><%= "area" %></th>
	<th><%= "CouponName" %></th>
	<th><%= "Discount" %></th>
	<th><%= "Valid" %></th>
  </tr>
  <% for o_row in @o_all %>
    <tr>
      <td><%= o_row.name %></td>
      <td><%= o_row.contact %></td>
      <td><%= o_row.cityname %></td>
	<td><%= o_row.areaname %></td>
	<td><%= o_row.couponname %></td>
	<td><%= o_row.price %>%</td>
	<td><%= o_row.valid_to %></td>




    </tr>
  <% end %>
</table>
<%= will_paginate @o_all %>

