<h3><%= Merchant.find(session[:merchant_id].to_i).name %>'s <%= t("general.locations") %></h3>

<%= form_tag merchant_locations_path, :method => 'get', :id => "div_update_search" do %>
  <p>
    <%= t("general.search") %>: <%= text_field_tag :search, params[:search] %>
    <%#= submit_tag t("general.search"), :name => nil %>
  </p>
  <div id="div_update"><%= render 'fetchAll' %></div>
<% end %>

<p><%= link_to t("general.new"), new_merchant_location_path %>
<%= link_to t("general.back"), merchants_path %>

</p>
