<%= form_for @o_single do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :is_active %><br />
    <%= f.check_box :is_active %>
  </p>
  <p><%= f.submit :value => t("general.save") %>
<%= link_to t("general.back"), cities_path %>
</p>
<% end %>
