    		<div class="topbox">
		        <div class="socialbox"><a href="#"><img src="images/twitter-icon.png" alt="" /></a>
		           <a href="#"><img src="images/facebook-icon.png" alt="" /></a>
		        </div>
		        	<ul>
		            	<li><%= link_to "Home", fronts_path %></li>
		                <li><a href="#">How it Works?</a></li>
		                <li class="last"><a href="#">Contact Us</a></li>
						<% if !session[:user_id].nil? %>
							<li><%= link_to "Profile", profile_edit_path(current_user.id)%></li>
							<li><%= link_to "Change Password", change_password_path %></li>
							<li><%= link_to "Logout", :log_out %></li>
						<% else %>
					        <li><%= link_to "Register", new_front_path%></li>
						<% end %>

		            </ul>
		        <div class="cl"></div>
            </div>
                <div class="cuponbox">
				    <div class="cuponbox-left"><%= image_tag "cupon-logo.jpg" %></div>
				    <div class="cuponbox-right"><%= image_tag "cupon-img.jpg" %></div>
				    <div class="cl"></div>
	            </div>
				
