<header class="headline">
    <%= link_to(image_tag("cupon-logo.jpg", :alt => "CouponMandi", :class => "round"), "/admin") %>
    <nav class="wlcm-menu">
      <ul>
		 <% if !session[:user_id].nil? %>
		   <li><%= image_tag "wc-admin.png" %>Welcome, <%= current_user.username %></li>
			<li><%= image_tag "edt-pfl.png" %><%= link_to t("general.edit_profile"), edit_user_path(current_user.id)%></li>
			<li><%= image_tag "logout.png" %><%= link_to t("general.logout"), :logout%></li>
		<% else %>
			<li>Welcome, Admin</li>
			<li><%= link_to t("general.home"), root_path %></li>
		<% end %>
      </ul>
    </nav>

    <nav class="menu">
      <ul>
		 <% if !session[:user_id].nil? %>
		    <li><%= link_to t("general.users"), users_path %></li>
			<li><%= link_to t("general.facebook_users"), user_providers_path %></li>
		    <li><%= link_to t("general.gateways"), gateways_path %></li>
		    <li><%= link_to t("general.carriers"), carriers_path %></li>
		    <li><%= link_to t("general.categories"), categories_path %></li>
		    <li><%= link_to t("general.coupon_types"), coupontypes_path %></li>
		    <li><%= link_to t("general.cities"), cities_path %></li>
		    <li><%= link_to t("general.areas"), areas_path %></li>
		    <li><%= link_to t("general.merchants"), merchants_path %></li>
		    <li><%= link_to t("general.get_coupons"), user_coupons_path %></li>
		<% end %>
      </ul>
    </nav>
<br />
</header>
